.mainContent {
  width: 80%;
  margin: 0 auto;
}
.subSectionTitle {
  text-align: left;
}
.item {
  text-align: left;
  margin-left: 50px;
  font-weight: bold;
}
.welcomepage-socialmedia-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 2.125rem;
}
.forgotPassword {
  text-align: right;
  font-size: 1.5rem;
}
