html {
  font-size: calc(10px + 0.5vw);
  margin-top: 50px;
  scroll-padding-top: 50px;
}
@media (min-width: 2000px) {
  html {
    font-size: calc(10px + 1vw);
  }
}
@media (min-width: 2000px) {
  html {
    margin-top: calc(50px * 2);
    scroll-padding-top: calc(50px * 2);
  }
}
body {
  margin: 50px auto 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-image: url('./blob.svg'), url('./blob.svg');
  background-position: top 950px left -180px, top -350px right -150px;
  background-size: 66%, 55%;
  background-repeat: repeat-y, repeat-y;
}
@media (min-width: 2000px) {
  body {
    background-image: url('./blob.svg'), url('./blob.svg'), url('./blob.svg');
    background-position: top 950px left -180px, top -320px center, top -1280px right -150px;
    background-size: 42%, 32%, 39%;
    background-repeat: repeat-y, repeat-y, repeat-y;
  }
}
.welcomepage-container {
  margin-top: calc((50px * 2.5) * -1);
}
@media (min-width: 2000px) {
  .welcomepage-container {
    margin-top: calc((50px * 4) * -1);
  }
}
.inner-container {
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.hidden {
  display: none;
}
.form-container {
  margin: calc(50vh - 25vh) auto;
}
.close-dialog {
  position: relative;
  top: 10px;
  right: -175px;
  color: white;
}
.main-form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  background: black;
}
#form-input {
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 0;
  margin-bottom: 5px;
}
#form-input::placeholder {
  color: white;
}
.form-button {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  text-align: right;
  padding: 15px;
}
.formWidth {
  width: 150px;
}
.button {
  cursor: pointer;
}
.searchButton {
  font-size: 2.25rem;
}
@media (min-width: 2000px) {
  .searchButton {
    font-size: 2rem;
  }
}
.createButton {
  color: white;
  background-color: black;
  padding: 5px 7px;
  border: 0 solid black;
  border-radius: 42%;
  font-size: 2.25rem;
}
@media (min-width: 2000px) {
  .createButton {
    font-size: 2rem;
  }
}
.search-dialog-container {
  display: block;
  border-radius: 10px;
  background: black;
  height: 150px;
  width: 30%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.search-dialog-container .search-dialog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-dialog-container .search-dialog-form input {
  border-radius: 8px;
  padding: 10px 20px;
  width: 60%;
  border: none;
  background: black;
  color: white;
}
.search-dialog-container .search-dialog-form input:focus {
  outline: none;
}
header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 20px;
  padding-top: 5px;
  background: linear-gradient(to top, #FFFFFF00, #FFFFFFCC 20%, #FFFFFFFF);
}
@media (min-width: 2000px) {
  header {
    height: calc(50px * 2.25);
    padding-top: 0;
  }
}
header .title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-around;
  align-content: flex-end;
  justify-content: space-between;
  width: 100%;
}
header .title .titleMessage {
  margin: auto 0;
  padding-bottom: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 2.25rem;
}
@media (min-width: 2000px) {
  header .title .titleMessage {
    font-size: 2rem;
  }
}
header .title .userPhoto {
  margin-top: 0;
  margin-right: 35px;
}
header .title .userPhoto img {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}
@media (min-width: 2000px) {
  header .title .userPhoto img {
    width: 100px;
    height: 100px;
  }
}
.mainContent {
  width: 80%;
  margin: 0 auto;
}
.subSectionTitle {
  text-align: left;
}
.item {
  text-align: left;
  margin-left: 50px;
  font-weight: bold;
}
.welcomepage-socialmedia-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 2.125rem;
}
.forgotPassword {
  text-align: right;
  font-size: 1.5rem;
}
footer {
  z-index: 10;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  margin: 0 auto;
}
@media (min-width: 2000px) {
  footer {
    height: calc(75px * 2);
  }
}
.footerItems {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-around;
  align-content: flex-end;
  justify-content: space-between;
  margin: 0 auto;
}
.copyright {
  margin: 0 auto;
  position: relative;
  bottom: 0.125em;
}
